.embed-responsive-21by9{
    display: none;
}

.backgorund-img > img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.video-box{
    border: 10px solid rgb(139,186,221);
}

.video-box:nth-child(0){
    display: none;
}

.content-header > img{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 290px;
}

.text-shadow-black{
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.content-header > p{
    color: white;
    font-size: 160%;
}

.content-box:nth-child(odd){
    margin: 50px 0;
    padding: 5%;
    background: linear-gradient( 0deg, rgb(15,75,143), rgb(24,117,208));
}

.content-box:nth-child(odd) > h1{
    color: rgb(230,217,133);
}

.content-box:nth-child(odd) > ul,.content-box:nth-child(odd) > ul > li > p{
    color: white;
    font-size: 65px;
    line-height: 65px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
}

.content-box:nth-child(even){
    margin: 50px 0;
    padding: 5%;
}

.content-box:nth-child(even) > h1,.content-box:nth-child(even) > ul,.content-box:nth-child(even) > ul > li > p{
    color: rgb(15,73,139);
}

.content-box:nth-child(even) > ul,.content-box:nth-child(even) > ul > li > p{
    font-size: 65px;
    line-height: 65px;
    font-family: 'Db helvethaica x med cond v3', sans-serif;
    font-weight: 500;
}

.content-box > h1{
    text-transform: uppercase;
}

.col-md-8 ,.offset-md-2 ,.col-xs-12{
    padding: 0;
}

input[type="button"]{
    margin: 15px 0;
    padding: 7.5px 35px;
    border-radius: 19px;
    color: white;
    border: 4px solid #eaeaea;
    background: linear-gradient( 0deg, rgb(15,75,143), rgb(255,255,255));
}

@media only screen and (max-width: 992px) {
    .embed-responsive-21by9{
        display: block;
    }

    .embed-responsive-16by9{
        display: none;
    }

    .content-header > img{
        width: 90%;
        height: auto;
    }

    .video-box{
        border: 7px solid rgb(139,186,221);
    }

    .content-header > img{
        margin-top: 10px;
        margin-bottom: 90px;
    }

    .content-box:nth-child(even) > ul,.content-box:nth-child(even) > ul > li > p,.content-box:nth-child(odd) > ul > li > p,.content-box:nth-child(odd){
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 773px) {
    .content-header > img{
        margin-top: 10px;
        margin-bottom: 160px;
    }

    input[type="button"]{
        margin: 35px 0 0 0;
    }

    .content-box:nth-child(even) > ul,.content-box:nth-child(even) > ul > li > p,.content-box:nth-child(odd) > ul > li > p,.content-box:nth-child(odd){
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .content-header > img{
        margin-top: 10px;
        margin-bottom: 90px;
    }
}

@media only screen and (max-width: 580px) {
    .video-box{
        border: 6px solid rgb(139,186,221);
    }
    .content-header > img{
        margin: 0;
    }

    .content-box:nth-child(even) > ul,.content-box:nth-child(even) > ul > li > p,.content-box:nth-child(odd) > ul > li > p,.content-box:nth-child(odd){
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 17px;
    }

    .content-box:nth-child(odd) > h1,.content-box:nth-child(even) > h1{
        font-size: 25px;
    }
}


